.row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.row_posters {
    position: flex; 
    padding: 1rem;
    padding-right: 0;
} 

 .row::-webkit-scrollbar {
    display: none; 
} 

h2 {
    margin-top: 0;
    margin-left: 3rem;
    color: white;
    cursor: pointer;
}